*{
    text-decoration: none;
    padding:0;
}


.header {
    width: 60%;
    height: auto;
    background-color: #97694F;
    border-radius: 10px;
    color: #FFF;
    font-weight: 900;
    font-size: 70px;
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 20px; 
    margin-top: 20px;
}

.font {
    font-weight: 900;
    font-size: 70px; 
    margin-bottom: 20px;
    text-align: center;
}

.card-text {
    display: list-item;
    text-decoration: none;
    line-height: 2;
    margin-left: 10px;
    font-style: oblique;
    font-size: medium;
    font-weight: 500;
}

.card-deck {
    padding: 10px;
    width: 600px;
    height: 300px;
    margin: 30px auto;
    margin-top: 50px;
    position: relative;
}

.card-deck, .card:hover {
    transform: translateY(-5px);
    cursor: pointer;
  }

.card-title {
    background-color: #D19275;
}

.card-header {
    background-color: #D19275;
}

.body {
    background-color: #FFFFDE;
}

.footer {
    margin-top: 10px;
}

.button-float {
    border-radius: 10px;
    height: 60px;
    width: 60px;
    position: fixed;
    padding: 0 !important;
    top: 20rem;
    right: 2rem;
    font-size: 35px;
    color: #ffffff;
    background-color: #97694F;
    border: 2px solid #97694F;
}

.button-float:hover {
    border: 2px solid sienna;
    background-color: #ffffff;
    color: #D19275;
    transform: translateY(-2px);
    cursor: pointer;
}