*{
    text-decoration: none;
    padding:0;
}


.header {
    width: 60%;
    height: auto;
    background-color: darkolivegreen ;
    border-radius: 5px;
    color: #FFF;
    font-weight: 900;
    font-size: 70px;
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 20px; 
    margin-top: 20px;
}

.font {
    font-weight: 900;
    font-size: 70px; 
    margin-bottom: 20px;
    text-align: center;
}

.card-text {
    display: list-item;
    text-decoration: none;
    line-height: 2;
    margin-left: 10px;
    font-style: oblique;
    font-size: medium;
    font-weight: 500;
}

.card-deck {
    padding: 10px;
    width: 600px;
    height: 300px;
    margin: 30px auto;
    margin-top: 50px;
    position: relative;
}

.body {
    background-color: beige;
}

.footer {
    margin-top: 10px;
}

.end {
    display: inline;
}